extends layout

block content
    .main.container
        .row
            h1 Profile
            a(href="/profile") Go back
    .tbl-content
        table(cellpadding='5', cellspacing='1', border='1')
            thead
                tr
                    th First Name
                    th Last Name
                    th Username
                    th Email
                    th School
                    
            tbody
                //- each row in table
                //-     tr
                    
            