extends layout

block content
    .main.container
        .row
            h1 Home Page
            form(method='GET' action='/addhomework')
                button.btn.btn-primary(type='submit') Add Homework
            form(method='GET' action='/edithomework')
                button.btn.btn-primary(type='submit') Edit Homework