extends layout

block content
    .main.container
        .row
            h1 Task Planner
            form(method='GET' action='/login')
                button.btn.btn-primary(type='submit') Login
            form(method='GET' action='/register')
                button.btn.btn-primary(type='submit') Register